* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 300;
    color: #111;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span {
    color: #fb911f;
}

.navbar {
    display: flex;
    position: relative;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve {
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve:hover {
    background: #d86710;
    transition: ease-out;
}

header .navbar li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/le-combonté.jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}

.contenu p:nth-child(2) {
    color: #ffff;
    font-size: 1.2em;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn2 {
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover {
    letter-spacing: 4px;
}

.btn2:hover {
    letter-spacing: 4px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2 {
    margin-bottom: 20px;
}

.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50 img {
    height: 300px;
    width: 450px;
    position: relative; 
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    margin-top: -100px;
}

.menu .contenu2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu2 .box {
    width: 350px;
    margin-top: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.8); 
}

.menu .contenu2 .box .imbox {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .contenu2 .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.box {
    transition: 0.5s ease;
    margin: 10px;
}
.menu .contenu2 .box .text {
    text-align: center;
    font-weight: 300px;
    color: #111;
} 

.Expert {
    margin-top: -100px;
}

.Expert .contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.Expert .contenu .box {
    width: 250px ;
    margin: 15px;
}

.Expert .contenu .box img  {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.Expert .contenu .box h3 {
    color: #111;
    font-weight: 400;
    text-align: center;
}

.Temoignage {
    background: cover;
}

.Temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.Temoignage .contenu .box {
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.8); 
}

.text h3 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.Temoignage .contenu .box .imbox {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;    
}

.Temoignage .contenu .box .imbox img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.Temoignage .contenu .box .text {
    align-items: center;
    color: #666;
    font-style: italic;

}

.Temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.blanc .titre-text{
    color: #fff;
}

.blanc .titre-texte .blanc p {
    color: #fff;
}

.Contact{
    background-image: url(./image/dessert.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    background-position: unset;
}

.Contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0,0.8);
    max-width: 500px;
    border-radius: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 28%;
}

.Contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.Contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.titre-text, p{
    text-align: center;
}

span {
    color: #fb911f;
}

.Contactform .inputboite input, 
.Contactform .inputboite textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: noen; 
}

.Contactform .inputboite input[type="submit"] {
        font-size: 1em;
        font-weight: 700;
        color: #ffff;
        background: #fb911f;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        outline: none;
        border: none;
        transition: 0.5d;
        max-width: 120px;
        align-items: center;
        justify-content: center;
}

.copyright {
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0,0.1);background:
    rgba(228,222,222,);
    text-align: center;
}

.copyright p:nth-child(1) {
    color: #333;
}

.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

@media (max-width: 991px) {
header, header .sticky {
    padding: 10px 20px;
}

header .navbar li {
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: noen;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}

.navbar {
    display: none;
}
section {
    padding: 20px;
}

.banniere .contenu h2 {
    font-size: 1.2em;
}

.row .col50 img {
    margin-left: 10%;
}

.contenu p:nth-child(2){
    font-size: 1.2em;
}

.Expert {
    margin-top: 0px;
}

.menu{
    margin-top: 0px;
}

.row {
    display: flex;
    flex-direction: column;
}

.Temoignage {
    font-size: 2em;
    text-align: center;
}


.Temoignage h2 {
    text-align: center;
}

.Contactfor {
    margin-left: 25%;
}
    .row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    
}